<% if model.errors.any? %>
<div class="d-flex justify-content-center">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='text-danger'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>