<div class= "d-flex justify-content-end fixed-bottom" >
  <%= link_to(new_diary_path,  class: "btn btn-primary rounded-circle p-0 me-5 mb-4 pt-2", :style => "width:5rem;height:5rem;") do%>
    <span class="font-mini">記録する</span>
    <%= image_tag "diary.svg", class: "mt-2" , :size  => "25x25" %>
  <% end%>
</div>