<div class="bg-light pt-5">
  <%= link_to(root_path,class:"text-center  d-flex justify-content-center  text-decoration-none link-dark") do %>
    <%= image_tag "biceps.png", :size => "100x100" %>
    <div>
      <p class="display-4 fts-italic fw-bold fs-4">When my muscles say “No”, I say “Yes!”</p>
      <p class="fw-bold fs-5 mb-0">ー筋肉がNOと叫んだら,私はYES!と答える。</p>
    </div>
  <% end %>
  </div>
</div>