<div class="bg-light pt-5">
  <div class="text-center w-50 mx-auto" >
    <p class="display-4 fts-italic fs-3">When my muscles say “No”, I say “Yes!”</p>
    <p class="fs-4 mb-0">ー筋肉がNOと叫んだら,私はYES!と答える。</p>
  </div>
</div>