// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview-image{
  width: 200px;
  height: auto;
}

.preview-video{
  width: 200px;
  height: auto;
}
.selector-for-some-widget {
  box-sizing: content-box;
}